#box{
	width: 500px;
	height: 500px;
	background-color: black;
	position: relative;
}
/*.coordinates{
	width: 500px;
	height: 500px;
	background-color: maroon;
}*/
.ants{
	position: absolute;
	background-color: white;
	width: 10px;
	height: 10px;
}